<% include partials/header.ejs %>


<% for(var i = 0; i < ads.length; i++) { %>
<% let ad = ads[i] %>
<h1>HELLO ad: <%= ad %></h1>
<h1>HELLO type ad: <%= Object.keys(ad) %></h1>
<h1>HELLO title: <%= ad._doc.title %></h1>
    <div class='index-card'>
        <div class="img-part">
            <img src="/uploads/<%= ad.photo %>" alt="photo">
        </div>
        <div class="text-part">
            <h2><%= ad.title %></h2>
            <p><%= ad.description %></p>
            <h5><%= ad.price %> €</h5>
        </div>
        <a href="/annonce/<%= ad.id %>"></a>
    </div>
<% } %>

<% include partials/footer.ejs %>