<% include partials/header.ejs %>
<% console.log(title) %>

<div class="flex-container">
    <div class="main-infos">
        <div class='show-card'>
            <div class="img-part">
                <img src="/uploads/<%= photo %>" alt="photo">
            </div>
            <div class="text-part">
                <h2><%= title %></h2>
                <h5><%= price %> €</h5>
            </div>
        </div>
        <div class="undercard">
            <h4>Description</h4>
            <p><%= description %></p>
        </div>
        
        <div class="undercard">
            <h4>Localisation</h4>
            <p><%= city %></p>
        </div>
    </div>

    <div class="right-side">
        <a href="/modification/<%= id %>" class="btn">Modifier</a>
        <br>
        <a href="/delete/<%= id %>" class="btn red">Supprimer</a>
    </div>
</div>

<% include partials/footer.ejs %>